.btn{
  border-radius: 10px;
  /* height: 1vwpx; */
  font-size: 3vw;
  margin-bottom: 2px;
  background: #41a5cc;
}

#chooseButton{
  background: #FF9F1C;
  width:60%;
  font-size: 3vw;
}

#rotateButton{
  /* width: 46px; */
}


table {
  width:100%;
  border-collapse: collapse;
}
td {
  border:1px solid;
  text-align:center;
  /* font-size: 26px; */
  font-size: 3vw;
  font-weight: bold;
  /* padding-bottom: 1%; */
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}

.column {
  float: left;
  width: 50%;
  /* padding: 5px; */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.fa-github {
  font-size: 44px;
  width: 60px;
  margin: 5px 2px;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  padding: 3px;
  font-size: 32px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5px;
}
