/* body{
  font-family: 'Montserrat';
  color: #FDFFFC;
  text-align: center;
  background-color: #011627;
  border: 60px solid #2EC4B6;
  border-top: 0px;
  margin: 0px;
} */

#chooseButton{
  border-radius: 15px;
  background: #FF9F1C;
  height: 40px;
  width: 175px;
  font-family: "Montserrat";
  font-size: 1.2em;
  margin-bottom: 4px;

}

table {
  margin:1em auto;
}
td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}
