<!DOCTYPE html>
{% load static %}


<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sudoku Solver</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="/" class="navbar-brand">Welcome</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="ml-auto navbar-nav">
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/rocio-gomez-bardon/" class="nav-link">Linkedin</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/Rociogomezbardon" class="nav-link">GitHub</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container" align='center' style="max-width: 650px; margin: auto;">
      <h1 class="display-3">My Sudoku Solver</h1>
      <!-- <p class="lead">Upload an image of an empty sudoku and I will solve it for you</p> -->
      <form method="post" class="md-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container" align='center'>
          <label id='chooseButton' for="choose" class="btn">Upload Image</label>
          <input id="choose" name='fileName' style="visibility:hidden;" type="file" value='image'>
          {% if img_url %}
          <div class="row">
            <div class="column">
              <div class="column">
                <button id='solveButton' type="submit"  name='right' class="btn"> <i class="fa fa-rotate-right"></i></button>
              </div>
              <div class="column">
                <button id='solveButton' type="submit"  name='left' class="btn"> <i class="fa fa-rotate-left"></i></button>
              </div>
            </div>
            <div class="column">
              <button id='solveButton' type="submit"  name='solve' class="btn">Solve</button>
            </div>
          </div>
          {% endif %}

        </div>

        {% if original_numbers.0.0.0 %}
          <div>
            <table >
              {% for original_numbers_row in original_numbers %}
              <tr>
                  {% for s in original_numbers_row %}
                  <td>
                    {% if s.1 == 0 %} <font style="color: red;" class='solved'>
                    {% else %} <font style="color: black;">
                    {% endif %}
                    {{s.0}}
                  </font>
                  </td>
                  {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>
        {% endif %}

        {% if img_url %}
        <div class="">
        <div class="container">
          <img src="{{img_url}}" class="w3-border"  style = "padding:4px;width:100%;" >
        </div>
        {% endif %}

        </div>
      </form>

    </div>

    <!-- Need to have JQuery and Javascript for DropDown Actions to work -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/homepage.js' %}?version=1"></script>
    <link rel="stylesheet" href= "{% static  'css/homepage.css' %}?version=1">


  </body>
</html>
