/* body{
  font-family: 'Montserrat';
  color: #FDFFFC;
  text-align: center;
  background-color: #011627;
  border: 60px solid #2EC4B6;
  border-top: 0px;
  margin: 0px;
} */

.btn{
  border-radius: 15px;
  height: 40px;
  /* width: 175px; */
  font-family: "Montserrat";
  font-size: 1.2em;
  margin-bottom: 4px;
}

#chooseButton{
  background: #FF9F1C;
}

#solveButton{
  background: #41a5cc;
}


table {
  width:100%;
  border-collapse: collapse;
}
td {
  border:1px solid;
  text-align:center;
  /* font-size: 2vw; */
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
