.btn{
  border-radius: 1vw;
  /* height: 1vwpx; */
  font-size: 4vw;
  margin-bottom: 0.2vw;
  background: #41a5cc;
}
.navbar{
  margin-left: auto;
}
#chooseButton{
  background: #FF9F1C;
}

#rotateButton{
  width: 7vw;
}


table {
  width:100%;
  border-collapse: collapse;
}
td {
  border:0.1vw solid;
  text-align:center;
  /* font-size: 26px; */
  font-size: 3vw;
  font-weight: bold;
  /* padding-bottom: 1%; */
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}

.column {
  float: left;
  width: 50%;
  /* padding: 5px; */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.fa-github {
  font-size: 5.5vw;
  margin: 1vw;
}

.fa-linkedin {
  /* background: #007bb5; */
  color: white;
  padding: 1vw;
  font-size: 2.8vw;
  width: 4.8vw;
  text-align: center;
  text-decoration: none;
  margin: 1.5vw;
  border-radius: 50%;
}

.fa-envelope-o{
  margin: 1vw;
  font-size: 5vw;
}
